.venv/
__pycache__/
__blobstorage__/
.vscode/
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
milvus_test/volumes/
datageneratorapp/data/
metaflow_test/.metaflow/
open_ai/config/config.dev.toml
open_ai/app/.env
